CONFIG_DW3000_GPIO_IRQ=34
CONFIG_DW3000_GPIO_RESET=27
CONFIG_DW3000_GPIO_WAKEUP=32
CONFIG_DW3000_SPI_MOSI=23
CONFIG_DW3000_SPI_MISO=19
CONFIG_DW3000_SPI_CLK=18
CONFIG_DW3000_SPI_CS=4
CONFIG_DW3000_SPI_MAX_MHZ=22
CONFIG_DW3000_CHIP_DW3000=y