menu "Board Configuration"

    config SPIFFS_ENABLE
        bool "Enable SPIFFS filesystem support"
        default n
        help
            Enable SPIFFS filesystem support
    
    config SDCARD_ENABLE
        bool "Enable SD Card support"
        default n
        help
            Enable SD Card support

    config AUDIO_ENABLE
        bool "Enable Audio Codec support"
        default n
        help
            Enable Audio Codec support

    config QMI8658_ENABLE
        bool "Enable QMI8658 Accelerometer support"
        default n
        help
            Enable QMI8658 Accelerometer support

    config PCF85063A_ENABLE
        bool "Enable PCF85063A RTC support"
        default n
        help
            Enable PCF85063A RTC support
    config PCF8563_ENABLE
        bool "Enable PCF8563 RTC support"
        default n
        help
            Enable PCF8563 RTC support

if SPIFFS_ENABLE
    config BSP_SPIFFS_FORMAT_ON_MOUNT_FAIL
        bool "Format SPIFFS if mount fails"
endif
if SDCARD_ENABLE
    config BSP_SDCARD_FORMAT_ON_MOUNT_FAIL
        bool "Format SDCARD if mount fails"
endif

endmenu
